# Pandas Session

In [4]:
import pandas as pd

df = pd.read_excel(r'D:\Data.xlsx')
df

,Name,Item,Price,Mobile,Gender,Address,Distance from House (km)
0,Amit Sharma,Laptop,55000,9876543210,Male,Delhi,5
1,Neha Verma,Mobile Phone,22000,9123456780,Female,Noida,8
2,Rahul Singh,Headphones,2500,9988776655,Male,Gurgaon,12
3,Priya Patel,Smart Watch,7000,9871234560,Female,Ahmedabad,3
4,Ankit Kumar,Tablet,18000,9012345678,Male,Patna,6
5,Sneha Roy,Camera,45000,9098765432,Female,Kolkata,10
6,Rohit Mehta,Keyboard,1500,9823456710,Male,Mumbai,4
7,Pooja Nair,Mouse,800,9765432109,Female,Kochi,2
8,Vikas Gupta,Monitor,12000,9887654321,Male,Jaipur,7
9,Kavita Joshi,Printer,9500,9345678120,Female,Pune,9
10,Suresh Reddy,Speaker,3200,9955667788,Male,Hyderabad,11
11,Anjali Mishra,Power Bank,2000,9870098700,Female,Bhopal,5
12,Manish Yadav,Router,2800,9001122334,Male,Lucknow,6
13,Rina Das,USB Drive,600,9123987654,Female,Guwahati,4
14,Arjun Malhotra,Gaming Console,42000,9812345600,Male,Chandigarh,13

In [5]:
df.columns

Index(['Name', 'Item', 'Price', 'Mobile', 'Gender', 'Address',
       'Distance from House (km)'],
      dtype='object')

In [6]:
len(df.columns)

7

In [7]:
len(df)

15

In [8]:
df.isnull()

     Name   Item  Price  Mobile  Gender  Address  Distance from House (km)
0   False  False  False   False   False    False                     False
1   False  False  False   False   False    False                     False
2   False  False  False   False   False    False                     False
3   False  False  False   False   False    False                     False
4   False  False  False   False   False    False                     False
5   False  False  False   False   False    False                     False
6   False  False  False   False   False    False                     False
7   False  False  False   False   False    False                     False
8   False  False  False   False   False    False                     False
9   False  False  False   False   False    False                     False
10  False  False  False   False   False    False                     False
11  False  False  False   False   False    False                     False
12  False  False  False   False   False    False                     False
13  False  False  False   False   False    False                     False
14  False  False  False   False   False    False                     False

In [9]:
df.isna()

     Name   Item  Price  Mobile  Gender  Address  Distance from House (km)
0   False  False  False   False   False    False                     False
1   False  False  False   False   False    False                     False
2   False  False  False   False   False    False                     False
3   False  False  False   False   False    False                     False
4   False  False  False   False   False    False                     False
5   False  False  False   False   False    False                     False
6   False  False  False   False   False    False                     False
7   False  False  False   False   False    False                     False
8   False  False  False   False   False    False                     False
9   False  False  False   False   False    False                     False
10  False  False  False   False   False    False                     False
11  False  False  False   False   False    False                     False
12  False  False  False   False   False    False                     False
13  False  False  False   False   False    False                     False
14  False  False  False   False   False    False                     False

In [10]:
df.isnull().sum()

Name                        0
Item                        0
Price                       0
Mobile                      0
Gender                      0
Address                     0
Distance from House (km)    0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      15 non-null     object
 1   Item                      15 non-null     object
 2   Price                     15 non-null     int64
 3   Mobile                    15 non-null     int64
 4   Gender                    15 non-null     object
 5   Address                   15 non-null     object
 6   Distance from House (km)  15 non-null     int64
dtypes: int64(3), object(4)
memory usage: 972.0+ bytes

In [13]:
import pandas as pd
df = pd.read_excel(r'D:\Data.xlsx')
df

,Name,Item,Price,Mobile,Gender,Address,Distance from House (km)
0,Amit Sharma,Laptop,55000,9876543210,Male,Delhi,5
1,Neha Verma,Mobile Phone,22000,9123456780,Female,Noida,8
2,Rahul Singh,Headphones,2500,9988776655,Male,Gurgaon,12
3,Priya Patel,Smart Watch,7000,9871234560,Female,Ahmedabad,3
4,Ankit Kumar,Tablet,18000,9012345678,Male,Patna,6
5,Sneha Roy,Camera,45000,9098765432,Female,Kolkata,10
6,Rohit Mehta,Keyboard,1500,9823456710,Male,Mumbai,4
7,Pooja Nair,Mouse,800,9765432109,Female,Kochi,2
8,Vikas Gupta,Monitor,12000,9887654321,Male,Jaipur,7
9,Kavita Joshi,Printer,9500,9345678120,Female,Pune,9
10,Suresh Reddy,Speaker,3200,9955667788,Male,Hyderabad,11
11,Anjali Mishra,Power Bank,2000,9870098700,Female,Bhopal,5
12,Manish Yadav,Router,2800,9001122334,Male,Lucknow,6
13,Rina Das,USB Drive,600,9123987654,Female,Guwahati,4
14,Arjun Malhotra,Gaming Console,42000,9812345600,Male,Chandigarh,13

In [14]:
df.head()

,Name,Item,Price,Mobile,Gender,Address,Distance from House (km)
0,Amit Sharma,Laptop,55000,9876543210,Male,Delhi,5
1,Neha Verma,Mobile Phone,22000,9123456780,Female,Noida,8
2,Rahul Singh,Headphones,2500,9988776655,Male,Gurgaon,12
3,Priya Patel,Smart Watch,7000,9871234560,Female,Ahmedabad,3
4,Ankit Kumar,Tablet,18000,9012345678,Male,Patna,6

In [16]:
df[:]

,Name,Item,Price,Mobile,Gender,Address,Distance from House (km)
0,Amit Sharma,Laptop,55000,9876543210,Male,Delhi,5
1,Neha Verma,Mobile Phone,22000,9123456780,Female,Noida,8
2,Rahul Singh,Headphones,2500,9988776655,Male,Gurgaon,12
3,Priya Patel,Smart Watch,7000,9871234560,Female,Ahmedabad,3
4,Ankit Kumar,Tablet,18000,9012345678,Male,Patna,6
5,Sneha Roy,Camera,45000,9098765432,Female,Kolkata,10
6,Rohit Mehta,Keyboard,1500,9823456710,Male,Mumbai,4
7,Pooja Nair,Mouse,800,9765432109,Female,Kochi,2
8,Vikas Gupta,Monitor,12000,9887654321,Male,Jaipur,7
9,Kavita Joshi,Printer,9500,9345678120,Female,Pune,9
10,Suresh Reddy,Speaker,3200,9955667788,Male,Hyderabad,11
11,Anjali Mishra,Power Bank,2000,9870098700,Female,Bhopal,5
12,Manish Yadav,Router,2800,9001122334,Male,Lucknow,6
13,Rina Das,USB Drive,600,9123987654,Female,Guwahati,4
14,Arjun Malhotra,Gaming Console,42000,9812345600,Male,Chandigarh,13

In [17]:
df[: : -1]

,Name,Item,Price,Mobile,Gender,Address,Distance from House (km)
14,Arjun Malhotra,Gaming Console,42000,9812345600,Male,Chandigarh,13
13,Rina Das,USB Drive,600,9123987654,Female,Guwahati,4
12,Manish Yadav,Router,2800,9001122334,Male,Lucknow,6
11,Anjali Mishra,Power Bank,2000,9870098700,Female,Bhopal,5
10,Suresh Reddy,Speaker,3200,9955667788,Male,Hyderabad,11
9,Kavita Joshi,Printer,9500,9345678120,Female,Pune,9
8,Vikas Gupta,Monitor,12000,9887654321,Male,Jaipur,7
7,Pooja Nair,Mouse,800,9765432109,Female,Kochi,2
6,Rohit Mehta,Keyboard,1500,9823456710,Male,Mumbai,4
5,Sneha Roy,Camera,45000,9098765432,Female,Kolkata,10
4,Ankit Kumar,Tablet,18000,9012345678,Male,Patna,6
3,Priya Patel,Smart Watch,7000,9871234560,Female,Ahmedabad,3
2,Rahul Singh,Headphones,2500,9988776655,Male,Gurgaon,12
1,Neha Verma,Mobile Phone,22000,9123456780,Female,Noida,8
0,Amit Sharma,Laptop,55000,9876543210,Male,Delhi,5

In [18]:
df.tail()

,Name,Item,Price,Mobile,Gender,Address,Distance from House (km)
10,Suresh Reddy,Speaker,3200,9955667788,Male,Hyderabad,11
11,Anjali Mishra,Power Bank,2000,9870098700,Female,Bhopal,5
12,Manish Yadav,Router,2800,9001122334,Male,Lucknow,6
13,Rina Das,USB Drive,600,9123987654,Female,Guwahati,4
14,Arjun Malhotra,Gaming Console,42000,9812345600,Male,Chandigarh,13

In [20]:
df.shape

(15, 7)

In [23]:
df[3:13]

,Name,Item,Price,Mobile,Gender,Address,Distance from House (km)
3,Priya Patel,Smart Watch,7000,9871234560,Female,Ahmedabad,3
4,Ankit Kumar,Tablet,18000,9012345678,Male,Patna,6
5,Sneha Roy,Camera,45000,9098765432,Female,Kolkata,10
6,Rohit Mehta,Keyboard,1500,9823456710,Male,Mumbai,4
7,Pooja Nair,Mouse,800,9765432109,Female,Kochi,2
8,Vikas Gupta,Monitor,12000,9887654321,Male,Jaipur,7
9,Kavita Joshi,Printer,9500,9345678120,Female,Pune,9
10,Suresh Reddy,Speaker,3200,9955667788,Male,Hyderabad,11
11,Anjali Mishra,Power Bank,2000,9870098700,Female,Bhopal,5
12,Manish Yadav,Router,2800,9001122334,Male,Lucknow,6

In [25]:
pd.__version__

'2.2.3'

In [27]:
type(df)

pandas.core.frame.DataFrame